<html>
    <head>
        <title>hello</title>
        
    </head>
    <body>
        <h1>Server</h1>
      
        <video id="video" width="400" height="300" autoplay></video>
        <br/>
        <br/>
        <video id="video2" width="400" height="300" autoplay></video>
        <h4>My Token</h4>
        <br/>
        <br/>
       <textarea rows="3" cols="100" id="txtMySignal"></textarea>
        <br/>
        <br/>
        <input type="text" placeholder="Friends token" id="txtFriendSignal">
        <br/>
        <br/>
        <button id="btnConnect">Connect</button>
       <script src="bundle.js"></script>
    </body>
</html>